@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans Devanagari';
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/IBMPlexSansDevanagari-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans Devanagari';
  font-style: normal;
  font-weight: 600;
  src: url('/src/fonts/IBMPlexSansDevanagari-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans Devanagari';
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/IBMPlexSansDevanagari-Bold.ttf') format('truetype');
}
