:root {
  --clr-bg-light: #f9f9f9;
  --clr-text: #28262b;
  --clr-subtext: #666;
  --clr-border: #d9d9d9;
  --clr-placeholder: #eee;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;

  /* Font Family */
  --f-fam: 'IBM Plex Sans Devanagari', sans-serif;

  /* Font Sizes */
  --fs-sm: 1rem;
  --fs-md: 1.5rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3rem;

  /* Layout */
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--f-fam);
}

p {
  color: var(--clr-text);
}
